# OS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual envs
venv/
.venv/

# Models and secrets
models/*
.env

# Colab checkpoints
.ipynb_checkpoints/

# Large DB files
chroma_db/chroma_books_db/chroma.sqlite3
